# Ignore config files
/data/config.php

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/project files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore OS or temp files
*.bak
*.tmp
*.swp

# Ignore vendor folder (if using Composer later)
vendor/


.history